{{< CommonMetaTags}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta id="Meta-lang" http-equiv="content-language" content="{{CurrentLang.IsoLang}}" data-date-format="{{JsDateFormatForBe}}">
{{{PixelFacebook}}}
{{{GoogleTagManagerHead}}}
{{/CommonMetaTags}}

{{< FaviconTags}}
<link rel="shortcut icon" type="image/x-icon" href="{{Url}}/{{FaviconName}}" />
{{/FaviconTags}}

{{< CommonStylesheets}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{TitlePoliceImportUrl}}" rel="stylesheet">
<link href="{{TextPoliceImportUrl}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/line-awesome/line-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/fa-brands.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/bootstrap/bootstrap-min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.carousel.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.theme.default.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/lightgallery.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/common.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/elloha-template-43.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/custom.css?v={{TemplateName}}_{{CacheVar}}">
{{/CommonStylesheets}}

{{< CommonScripts}}
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/plugins.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/bootstrap/bootstrap-min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/owl.carousel.2.3.4.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/mandrill/mandrill.min.js"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin async data-callback="initMapKit" data-libraries="map" data-initial-token="{{TokenMapKit}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/skycons.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/lightgallery-all.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/config.js?v={{Template}}_{{CacheVar}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.ebcaptcha.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/common.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/elloha-template-43.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/newcookieconsent.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js"></script>
{{/CommonScripts}}

{{< ScriptCalendarClick}}
<script>
    var onAvailableDateSelect = function () {
        var dpWidget = window.widgetDatePicker["ConstellationWidgetContainerBE"];

        if (dpWidget === null || dpWidget === undefined) {
            return;
        }

        dpWidget.setDate(this.getMoment()._d);
        $('#ConstellationWidgetContainerBE #BtnLaunchBooking').trigger('click');
    };
</script>
{{/ScriptCalendarClick}}

{{< Header}}
<header class="first-nav">
    <div class="content-header">

        <div class="logo logo-w">
            <a class="logo-top {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                {{#HasLogo}}<img class="logo-header" src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>{{/HasLogo}}
            </a>
        </div>

        <div class="menu-pictos-etc">
            {{#HasPages}}
            <div class="dropdown menu-header-li appear-2">
                <a class="principal-item-menu text-white" data-toggle="dropdown" href="#">{{ResourcesTemplate.discover}}</a>
                <ul class="dropdown-menu sub-menu">
                    {{#Pages}}
                    <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                    {{/Pages}}
                </ul>
            </div>
            {{/HasPages}}

            {{#HasGroupesPrestations}}
            <div class="dropdown menu-header-li appear-1">
                <a class="principal-item-menu text-white" data-toggle="dropdown" href="#">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
                <ul class="dropdown-menu sub-menu">
                    {{#ViewAllOffers}}
                    <li><a href="{{UrlOffers}}">{{^isActivity}}{{ResourcesTemplate.Offers_ViewAll}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.SeeAllOurActivities}}{{/isActivity}}</a> </li>
                    {{/ViewAllOffers}}
                    {{#GroupesPrestations}}
                    <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                    {{/GroupesPrestations}}
                </ul>
            </div>
            {{/HasGroupesPrestations}}
            {{^IsRestaurant}}
            {{^HasGroupesPrestations}}
            {{#HasPrestas}}
            {{#Prestations.1}}
            <div class="dropdown menu-header-li appear-1">
                <a class="principal-item-menu text-white" data-toggle="dropdown" href="#">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
                <ul class="dropdown-menu sub-menu">
                    {{#ViewAllOffers}}
                    <li><a href="{{UrlOffers}}">{{^isActivity}}{{ResourcesTemplate.Offers_ViewAll}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.SeeAllOurActivities}}{{/isActivity}}</a> </li>
                    {{/ViewAllOffers}}
                    {{#Prestations}}
                    <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                    {{/Prestations}}
                </ul>
            </div>
            {{/Prestations.1}}
            {{^Prestations.1}}
            <div class="menu-header-li appear-1">
                <a class="principal-item-menu text-white" href="{{Prestations.0.UrlPrestaTemplate}}">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
            </div>
            {{/Prestations.1}}
            {{/HasPrestas}}
            {{/HasGroupesPrestations}}
            {{/IsRestaurant}}
            {{#IsRestaurant}}
            {{#HasPrestas}}
            {{#Prestations.0}}
            <div class="menu-header-li appear-1">
                <a class="principal-item-menu text-white" href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
            </div>
            {{/Prestations.0}}
            {{/HasPrestas}}
            {{/IsRestaurant}}

            {{#HasSpecialOffers}}
            <a class="appear-1 text-white" href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
            {{/HasSpecialOffers}}

            {{#HasBookingActivated}}
            {{#HasGiftsActivated}}
            <a class="appear-2 text-white" href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
            {{/HasGiftsActivated}}
            {{/HasBookingActivated}}

            {{#HasNews}}
            <a class="appear-2 text-white" href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
            {{/HasNews}}

            {{#HasRecommandations}}
            <a class="appear-2 text-white" href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
            {{/HasRecommandations}}

            <a class="appear-2 text-white" href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>

            {{#HasBookingActivated}}
            <a class="appear-1 text-white" href="{{UrlOnlineBooking}}">{{ResourcesTemplate.Book}}</a>
            {{/HasBookingActivated}}

            <div class="navbar-toggler">
                <i class="btn-menu las la-bars"><span>{{ResourcesTemplate.Menu}}</span></i>
                <i class="btn-menu las la-times d-none"><span>{{ResourcesTemplate.Menu}}</span></i>
            </div>

            {{#Instagram}}
            <a class="appear-1 picto-menu-header" href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>
            {{/Instagram}}

            {{#HasPhoneNumberActivated}}
            <a class="appear-1 picto-menu-header" href="tel:{{PhoneNumber}}"><i class="las la-phone"></i></a>
            {{/HasPhoneNumberActivated}}

            {{#HasOtherLangs}}
            <div class="dropdown languages appear-1">
                <div class="dropdown-div" data-toggle="dropdown">
                    <i class="fa fa-globe"><span>{{CurrentLang.IsoLang}}</span></i>
                </div>
                <ul class="dropdown-menu">
                    {{#Langs}}
                    <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="flag">{{IsoLang}}</div></a></li>
                    {{/Langs}}
                </ul>
            </div>
            {{/HasOtherLangs}}
        </div>

    </div>
</header>

<!-- NAV MOBILE -->
<nav class="mobile-nav">
    <ul class="menu menu-mobile">
        {{#HasPages}}
        <li class="clic-sub-menu">
            <a href="#">{{ResourcesTemplate.discover}}</a>
            <ul class="sub-menu">
                {{#Pages}}
                <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                {{/Pages}}
            </ul>
        </li>
        {{/HasPages}}
        {{#HasGroupesPrestations}}
        <li class="clic-sub-menu disappear-1">
            <a href="#">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{^isActivity}}{{ResourcesTemplate.Offers_ViewAll}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.SeeAllOurActivities}}{{/isActivity}}</a> </li>
                {{/ViewAllOffers}}
                {{#GroupesPrestations}}
                <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                {{/GroupesPrestations}}
            </ul>
        </li>
        {{/HasGroupesPrestations}}
        {{^IsRestaurant}}
        {{^HasGroupesPrestations}}
        {{#HasPrestas}}
        {{#Prestations.1}}
        <li class="clic-sub-menu disappear-1">
            <a href="#">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{^isActivity}}{{ResourcesTemplate.Offers_ViewAll}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.SeeAllOurActivities}}{{/isActivity}}</a> </li>
                {{/ViewAllOffers}}
                {{#Prestations}}
                <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                {{/Prestations}}
            </ul>
        </li>
        {{/Prestations.1}}
        {{^Prestations.1}}
        <li class="disappear-1">
            <a href="{{Prestations.0.UrlPrestaTemplate}}">{{^isActivity}}{{ResourcesTemplate.Offers_MenuTitle}}{{/isActivity}}{{#isActivity}}{{ResourcesTemplate.Offers_MenuTitle_5}}{{/isActivity}}</a>
        </li>
        {{/Prestations.1}}
        {{/HasPrestas}}
        {{/HasGroupesPrestations}}
        {{/IsRestaurant}}
        {{#IsRestaurant}}
        {{#HasPrestas}}
        {{#Prestations.0}}
        <li class="disappear-1">
            <a href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
        </li>
        {{/Prestations.0}}
        {{/HasPrestas}}
        {{/IsRestaurant}}
        {{#HasSpecialOffers}}
        <li class="disappear-1">
            <a href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
        </li>
        {{/HasSpecialOffers}}
        {{#HasBookingActivated}}
        {{#HasGiftsActivated}}
        <li>
            <a href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
        </li>
        {{/HasGiftsActivated}}
        {{/HasBookingActivated}}
        {{#HasRecommandations}}
        <li>
            <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
        </li>
        {{/HasRecommandations}}
        {{#HasNews}}
        <li>
            <a href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
        </li>
        {{/HasNews}}
        {{#FeaturedPage}}
        <li>
            <a href="{{UrlPageTemplate}}">{{TitlePage}}</a>
        </li>
        {{/FeaturedPage}}
        <li>
            <a href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>
        </li>
        {{#HasBookingActivated}}
        <li class="disappear-1">
            <a href="{{UrlOnlineBooking}}">{{ResourcesTemplate.Book}}</a>
        </li>
        {{/HasBookingActivated}}

        <li class="pictos-mobile-nav">
            {{#Instagram}}
            <a class="picto-menu-header" href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>
            {{/Instagram}}

            {{#HasPhoneNumberActivated}}
            <a class="picto-menu-header" href="tel:{{PhoneNumber}}"><i class="las la-phone"></i></a>
            {{/HasPhoneNumberActivated}}

            {{#HasOtherLangs}}
            <div class="dropdown languages">
                <div class="dropdown-div" data-toggle="dropdown">
                    <i class="fa fa-globe"><span>{{CurrentLang.IsoLang}}</span></i>
                </div>
                <ul class="dropdown-menu">
                    {{#Langs}}
                    <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="flag">{{IsoLang}}</div></a></li>
                    {{/Langs}}
                </ul>
            </div>
            {{/HasOtherLangs}}
        </li>
    </ul>
</nav>
{{/Header}}

{{< Calendar}}
<section class="section section-calendar">
    <div class="content-section">

        <div class="section-title">
            <h2>{{ResourcesTemplate.AvailabilityTitle}}</h2>
        </div>

        <div class="calendars">
            <div class="avail-calendar-w">
                <div class="calendar-container">
                    <div id="datepicker2"></div>
                </div>
            </div>
            <div class="calendar_status">
                <div>
                    <div class="green-dispo">-</div>
                    <span>{{ResourcesTemplate.Available}}</span>
                </div>
                <div>
                    <div class="red-no-dispo">-</div>
                    <span class="not-available">{{ResourcesTemplate.NotAvailable}}</span>
                </div>
            </div>
        </div>

    </div>
</section>
{{/Calendar}}

{{< Footer}}
<footer class="section-footer">

    {{#HasAlcoolWarning}}
    <div class="alcool-warning">
        <span>{{ResourcesTemplate.AlcoolWarning}}</span>
    </div>
    {{/HasAlcoolWarning}}

    <div class="content-footer">

        <div class="infos-footer">
            <a class="logo-footer {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                {{^HasLogo}}
                <div class="title">
                    <div class="name-title-footer">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></div>
                </div>
                {{/HasLogo}}
            </a>

            <div class="address-contacts-and-mentions">
                <div class="address-footer">
                    <span>{{AddressLine}},</span>

                    <span>{{PostalCode}} {{City}} - {{Country}}</span>
                </div>

                <div class="contacts-footer">
                    {{#HasPhoneNumberActivated}}
                    <span>{{PhoneNumber}}</span>
                    {{/HasPhoneNumberActivated}}

                    <a class="dynamic-mail-to">{{ResourcesTemplate.contactByEmail}}</a>
                </div>

                <div class="mentions-mobile mentions-footer">
                    <a href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

                    <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
                </div>
            </div>

            <div class="copy-and-mentions">
                <div class="copyright-and-elloha">
                    <div>{{ResourcesTemplate.Copyright}} {{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></div>

                    <div class="elloha-img">{{ResourcesTemplate.PoweredBy}} <a href="http://www.elloha.com/fr/" target="_blank"><img src="https://static.elloha.com/webgen/img/elloha.png" alt="logo-elloha"></a></div>
                </div>

                <div class="mentions-tablet mentions-footer">
                    <a class="legal-mentions" href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

                    <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
                </div>
            </div>

            {{#HasSocialNetworks}}
            <div class="social-medias-footer social-medias-footer-desktop">
                {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
                {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
                {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
                {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
                {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
                {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
                {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
                {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
            </div>
            {{/HasSocialNetworks}}
        </div>

        {{#HasSocialNetworks}}
        <div class="social-medias-footer social-medias-footer-mobile">
            {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
            {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
            {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
            {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
            {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
            {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
            {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
            {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
        </div>
        {{/HasSocialNetworks}}

        {{#HasPartners}}
        <div class="partners">
            {{#Partners}}
            <a href="{{UrlPartner}}" target="_blank"><img src="{{#PhotoPartner}}{{UrlMedias}}/300x200/{{IdMedia}}/{{FileNamePhoto}}{{/PhotoPartner}}" alt="{{TitlePartner}}"></a>
            {{/Partners}}
        </div>
        {{/HasPartners}}

    </div>

    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="las la-arrow-down"></i></a>
    </div>
</footer>
{{/Footer}}